/* General */
:root {
	--accent-color: #e40613;
	--accent-color-dark: #b90510;
	--dark-grey: #212020;
	--medium-grey: #2e2d2d;
	--light-grey: #838080;
	--very-light-grey: #e4e0e0;
}
body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, .btn {
	font-family: 'Play', sans-serif;
}
a {
	color: var(--accent-color);
}
a:hover {
	color: var(--accent-color-dark);
}
section {
/*	min-height: 700px;*/
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.section-heading {
	position: relative;
	display: inline-block;
	margin-bottom: 5rem;
}
.section-heading:before,
.section-heading:after {
	position: absolute;
	content: "";
	display: block;
	background-color: var(--accent-color);
	bottom: -5px;
	right: 0;
}
.section-heading:before {
	height: 1px;
	width: 500px;
	bottom: -5px;
	right: 0;
}
.section-heading:after {
	height: 60px;
	width: 1px;
	transform-origin: bottom;
	transform: rotate(45deg);
	
}
/* End General */

/* Navbar */
.navbar {
	padding: 0;
	font-family: 'Play', sans-serif;
}
.navbar .navbar-brand {
	background-color: var(--accent-color);
	color: #fff;
	padding: 0.5rem 1rem;
	line-height: 42px;
	font-family: 'Play', sans-serif;
	position: relative;
	height: 58px;
}
.navbar .navbar-brand:after {
	position: absolute;
	content: "";
	display: block;
	left: 100%;
	top: 0;
	border-top: 29px solid var(--accent-color);
	border-left: 29px solid var(--accent-color);
	border-bottom: 29px solid transparent;
	border-right: 29px solid transparent;
}
.navbar .navbar-brand:hover {
	color: #fff;
}
.navbar .navbar-text {
	background-color: var(--dark-grey);
	padding: 0.5rem 1rem;
	position: relative;
	height: 58px;
}
.navbar .navbar-text:before {
	position: absolute;
	content: "";
	display: block;
	top: 0;
	left: -58px;
	border-top: 29px solid transparent;
	border-right: 29px solid var(--dark-grey);
	border-bottom: 29px solid var(--dark-grey);
	border-left: 29px solid transparent;
}
.navbar .navbar-text a {
	color: #fff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:active {
	color: var(--accent-color);
}
.navbar .navbar-text small {
	color: rgba(255,255,255,0.5);
	display: block;
}
.navbar .navbar-text span {
	color: rgba(255,255,255,0.5);
}
.navbar .navbar-toggler-icon {
	background-image: url(../img/menu.png);
}
/* End Navbar */

/* Media Navbar */
@media (max-width: 991px) {
	.navbar {
		padding-right: 1rem;
		background-color: transparent !important;
		background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
	}
	.navbar .navbar-brand {
		margin-right: 58px;
	}
	.navbar .navbar-text {
		margin-right: auto;
	}
	.navbar .navbar-text:after {
		position: absolute;
		content: "";
		display: block;
		left: 100%;
		top: 0;
		border-top: 29px solid var(--dark-grey);
		border-left: 29px solid var(--dark-grey);
		border-bottom: 29px solid transparent;
		border-right: 29px solid transparent;
	}
	.navbar .navbar-toggler {
		border: none;
	}
	.navbar .navbar-collapse .navbar-nav {
		flex-direction: row;
		justify-content: center;
	}
	.navbar .navbar-collapse .navbar-nav a {
		color: #fff;
	}
	.navbar .navbar-collapse .navbar-nav .nav-item.active a,
	.navbar .navbar-collapse .navbar-nav .nav-item:hover a	{
		color: var(--accent-color);
	}
	.navbar .navbar-collapse .navbar-nav .nav-link {
		padding: 0.5rem 1rem;
	}
}
@media (max-width: 767px) {
	.navbar .navbar-text small,
	.navbar .navbar-text span {
		display: none;
	}
	.navbar .navbar-text a {
		display: block;
		font-size: 0.9rem;
	}
}
@media (max-width: 520px) {
	.navbar .navbar-collapse .navbar-nav {
		flex-direction: column;
		align-items: center;
	}
	.navbar .line-break {
		width: 100%;
	}
	.navbar .navbar-brand {
		border-right: 4px solid var(--accent-color);
	}
	.navbar .navbar-brand:after {
		position: absolute;
		content: "";
		display: block;
		left: calc(100% + 4px);
		top: 0;
		border-top: 29px solid var(--accent-color);
		border-left: 29px solid var(--accent-color);
		border-bottom: 29px solid transparent;
		border-right: 29px solid transparent;
	}
}
/* End Media Navbar */

/* Header */
header {
	background-image: url(../img/main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
}
header h1 {
	margin-top: 30vh;
}
header .btn {
	background-color: var(--accent-color);
	color: #fff;
	border-radius: 0;
	margin-top: 5vh;
	position: relative;
	transition: all ease-out 0.5s;
}
header .btn:before,
header .btn:after {
	position: absolute;
	content: "";
	display: block;
	top: -1px;
	transition: all ease-out 0.5s;
}
header .btn:before {
	border-top: 24px solid transparent;
	border-right: 24px solid var(--accent-color);
	border-bottom: 24px solid var(--accent-color);
	border-left: 24px solid transparent;
	left: -49px;
}
header .btn:after {
	border-top: 24px solid var(--accent-color);
	border-right: 24px solid transparent;
	border-bottom: 24px solid transparent;
	border-left: 24px solid var(--accent-color);
	left: calc(100% + 1px);
}
header .btn:hover,
header .btn:active {
	color: #fff;
	letter-spacing: 2px;
	background-color: var(--accent-color-dark);
}
header .btn:hover:before,
header .btn:active:before {
	border-right-color: var(--accent-color-dark);
	border-bottom-color: var(--accent-color-dark);
}
header .btn:hover:after,
header .btn:active:after {
	border-top-color: var(--accent-color-dark);
	border-left-color: var(--accent-color-dark);
}
/* End Header */

/* Media Header */
@media (max-width: 520px) {
	header h1 {
		margin-top: 10vh;
	}
}	
/* End Media Header */

/* Services */
.services h3 {
	font-size: 1.2rem;
	position: relative;
	margin-bottom: 2rem;
}
.services h3:after,
.services h3:before {
	position: absolute;
	content: "";
	display: block;
	height: 1px;
	background-color: var(--accent-color);
}
.services h3:before {
	width: 60px;	
	bottom: -10px;
	left: calc(50% - 30px); 	
}
.services h3:after {
	width: 40px;	
	bottom: -15px;
	left: calc(50% - 20px); 	
}
.services-item p {
	font-size: 0.8rem;
	color: var(--light-grey);
}
.services-item {
	padding-top: 100px;
	background-position: top 30px center;
	background-repeat: no-repeat;
	background-size: 40px;
}
.services-item-1 {
	background-image: url(../img/balance.png);
	border-right: 1px solid var(--very-light-grey);
	border-bottom: 1px solid var(--very-light-grey);
}
.services-item-2 {
	background-image: url(../img/exchange.png);
	border-right: 1px solid var(--very-light-grey);
	border-bottom: 1px solid var(--very-light-grey);
}
.services-item-3 {
	background-image: url(../img/exchange.png);
	border-bottom: 1px solid var(--very-light-grey);
}
.services-item-4 {
	background-image: url(../img/improvement.png);
	border-right: 1px solid var(--very-light-grey);
}
.services-item-5 {
	background-image: url(../img/ruler.png);
	border-right: 1px solid var(--very-light-grey);
}
.services-item-6 {
	background-image: url(../img/ruler.png);
}
/* End Services */

/* Media Services */
@media (min-width: 576px) and (max-width: 767px) {
	.services-item-2 {
		border-right: none;
	}
	.services-item-3 {
		border-right: 1px solid var(--very-light-grey);
	}
	.services-item-4 {
		border-right: none;
		border-bottom: 1px solid var(--very-light-grey);
	}
} 
@media (max-width: 575px) {
	.services-item:not(:last-child) {
		border-right: none;
		border-bottom: 1px solid var(--very-light-grey);
	}
} 
/* End Media Services */

/* Price */
.price .price-item {
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.price .price-item-1 {
	background-image: url(../img/car.jpg);
}
.price .price-item-2 {
	background-image: url(../img/bus.jpg);
}
.price .price-item-3 {
	background-image: url(../img/truck.jpg);
}
.price .price-item-text {
	color: #fff;
/*	text-transform: uppercase;*/
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100%;
	line-height: 100px;
	padding-left: 15px;
	font-weight: 500;
	transition: all 0.4s ease-out;
	font-family: 'Play', sans-serif;
}
.price .price-item-text span {
	font-size: 1.6rem;
}
.price .price-item-1,
.price .price-item-3 {
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
}
.price .price-item-2 {
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 93%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 93%, 0% 100%);
}
.price .price-item-1 .price-item-text,
.price .price-item-3 .price-item-text {
	-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
	background-color: rgba(33,32,32,0.8);
}
.price .price-item-2 .price-item-text {
	-webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
	background-color: rgba(46,45,45,0.8);
	
}
.price .price-link {
	display: block;
	margin-top: 5rem;
	position: relative;
	padding: 1rem;
	border-top: 1px solid var(--very-light-grey);
	border-bottom: 1px solid var(--very-light-grey);
	text-transform: uppercase;
}
/* End Price */

/* Media Price */
@media (max-width: 767px) {
	.price .price-item:not(:last-child) {
		margin-bottom: 2rem;
	}
	.price .price-item-2 {
		-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
		clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
	}
	.price .price-item-2 .price-item-text {
		-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
		background-color: rgba(33,32,32,0.8);
	}
}
/* End Media Price */

/* Contacts */
.contacts .contacts-item {
	padding-top: 80px;
	padding-bottom: 20px;
	background-position: top 30px center;
	background-repeat: no-repeat;
	background-size: 30px;
}
.contacts .contacts-address {
	background-image: url(../img/address.png);
	border-right: 1px solid var(--very-light-grey);
}
.contacts .contacts-phone {
	background-image: url(../img/phone.png);
	border-right: 1px solid var(--very-light-grey);
}
.contacts .contacts-mail {
	background-image: url(../img/email.png);
	border-right: 1px solid var(--very-light-grey);
}
.contacts .contacts-schedule {
	background-image: url(../img/clock.png);
}
.contacts a {
	color: inherit;
}
/* End Contacts */

/* Media Contacts */
@media (min-width: 576px) and (max-width: 767px) {
	.contacts .contacts-phone {
		border-right: none;
	}
	.contacts .contacts-address,
	.contacts .contacts-phone {
		border-bottom: 1px solid var(--very-light-grey);
	}
}
@media (max-width: 575px) {
	.contacts .contacts-item {
		padding-top: 0;
		padding-left: 60px;
		padding-bottom: 20px;
		background-position: top left 30px;
		background-repeat: no-repeat;
		background-size: 20px;
		text-align: left;
		border: none;
	}
}
/* End Media Contacts */